body {
    background-color: rgb(39, 43, 51)!important;
}
.character_Wrapper {
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
};

.character_ImgWrapper{
    flex: 2 1 0%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
    object-fit: cover;
}

.contentWrapper {
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.section:first-child {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

span {
    font-size: 16px;
    font-weight: 500;
}

span, h2 {
    margin: 0px;
    padding: 0px;
}

.text-gray {
    color: rgb(158, 158, 158);
}

.text-principal {
    color: rgb(245, 245, 245);
}